backend/blueprint-torre-controle.json
{
    "name": "Argos: Torre de Controle para Armazém Autoportante",
    "flow": [
        {
            "id": 2,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3410460,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9097411
            },
            "mapper": {
                "from": "share",
                "sheetId": "Página1",
                "sortOrder": "asc",
                "spreadsheetId": "1AX2MlVtQSQ5DABW5gezOgcOfvnoHHeGct6dRMt-SFYo",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Página1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (edutest377@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Posicao_ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Status (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "ID_Container (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Peso_ton (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Data_Hora (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Saida_hora_Prevista (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Zona (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "IMO (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 3,
                "rowSeparator": ""
            },
            "mapper": {
                "value": "{{`3`}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Search Rows [3]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 69,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9097417
            },
            "mapper": {
                "from": "share",
                "sheetId": "Página1",
                "sortOrder": "asc",
                "spreadsheetId": "1AX2MlVtQSQ5DABW5gezOgcOfvnoHHeGct6dRMt-SFYo",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Página1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (edutest377@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Posicao_ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Status (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "ID_Container (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Peso_ton (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Data_Hora (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Saida_hora_Prevista (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Zona (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "IMO (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9097435
            },
            "mapper": {
                "model": "gemini-robotics-er-1.5-preview",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "text": "{{5.text}}",
                                "type": "text"
                            }
                        ]
                    }
                ],
                "generationConfig": {
                    "imageConfig": {},
                    "thinkingConfig": {}
                },
                "system_instruction": {
                    "parts": [
                        {
                            "text": "Você é o roteirizador lógico de um terminal de contêineres. Sua função é receber um contêiner novo e alocá-lo na melhor vaga e zona disponível, respeitando estritamente as regras abaixo.\n\nEsse é a planilha que mapeia o pátio: {{5.text}}\n\nDADOS DO NOVO CONTÊINER:\n\nID_Conteiner: {{2.id_conteiner}}\nPeso_ton: {{2.peso_ton}}\nDados_Saida_Prevista: {{2.data_saida_prevista}}\nIMO: {{if(2.IMO; \"Sim\"; \"Nao\")}}\n\nREGRAS DE NEGÓCIO (HIERÁRQUIA RÍGIDA):\n\n1. ISOLAMENTO IMO: Se \"IMO\" for \"Sim\", aloque EXCLUSIVAMENTE na RUA 5 (colunas E). Proibido confundir com cargas normais.\n\n2. OFERTA < 40%: Se oferta total < 40%, aloque apenas nos níveis N1, N2, N3 e N4.\n\n3. GRAVIDADE: Proibido deixar contêineres flutuando. Nível N(x) só pode ser ocupado se N(x-1) estiver ocupado.\n\n4. PESO E ESTABILIDADE: Contêineres > 25t obrigatório no N1. Empilhamento deve ser decrescente: o mais pesado sempre abaixo do mais leve.\n\n5. RETRABALHO: Nunca posicione conteúdo com Data_Saida_Prevista e hora POSTERIOR sobre um conteúdo com data_saida ANTERIOR.\n\n6. OTIMIZAÇÃO: Priorize a proximidade com a zona de transporte.\n\n7. ZONA: Escolha entre as zonas \"Hot\", \"Warm\", \"Cold\" ´e \"Frozen\" de acordo com as regras anteriores.\n\n8. FORMATO OBRIGATÓRIO: Você DEVE devolver a vaga escolhida combinando a Zona, a Coordenada (A1 a E5) e o Andar (N1 a N7), separados por hífen.\nExemplos corretos: FROZEN-A1-N1, HOT-C3-N4, WARM-E5-N7.\n\nFORMATO DE SAÍDA:\nRetorne ESTRITAMENTE um objeto JSON puro. É ABSOLUTAMENTE PROIBIDO usar marcações markdown como crases (```json), blocos de código ou qualquer texto antes ou depois do JSON. O primeiro caractere da sua resposta DEVE ser { e o último DEVE ser }.\n\nUse EXATAMENTE estas chaves no JSON:\n{\n \"targetSlot\": \"O Posicao_ID exato exato copiado da planilha (ex: HOT-A1-N1)\",\n \"justificativa\" : \"Explicação técnica detalhada da posição e da zona escolhida\",\n \"Status\" : \"Escolha entre um desses segundo as regras acima Alocado, Realocado, Ocupado, Vazio, Livre\",\n \"ID_Conteiner\": \"{{2.id_conteiner}}\",\n \"Peso_ton\" : {{2.peso_ton}},\n \"Data_Hora_Chegada\" : \"{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"America/Sao_Paulo\")}}\",\n \"Data_Saida_Prevista\" : \"{{2.data_saida_prevista}}\",\n \"Zona\" : \"Zona determinada pela IA entre Hot, Warm, Cold ou Frozen\",\n  \"IMO\" : {{if(2.IMO; \"TRUE\"; \"FALSE\")}}\n}"
                        }
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini Robotics-ER 1.5 PreviewDiscontinuation date: April 30, 2026"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "serviceTier": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "include_thoughts": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": true
                                                            },
                                                            {
                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ],
                                        "required": true
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "system_instruction",
                        "spec": [
                            {
                                "name": "parts",
                                "spec": {
                                    "name": "value",
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt"
                                },
                                "type": "array",
                                "label": "Prompts"
                            }
                        ],
                        "type": "collection",
                        "label": "System Instructions"
                    },
                    {
                        "name": "safetySettings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Safety Settings"
                    },
                    {
                        "name": "generationConfig",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Stop Sequence"
                                },
                                "type": "array",
                                "label": "Stop Sequences"
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Thinking Config"
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Image Configuration"
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ],
                        "type": "collection",
                        "label": "Generation configurations"
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    },
                    {
                        "name": "serviceTier",
                        "type": "select",
                        "label": "Inference Service Tier"
                    }
                ]
            }
        },
        {
            "id": 74,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{{6.result}}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}