backend/blueprint-gravacao-movimentacao.json
{
    "name": "Argos: Gravação de Movimentação no Pátio",
    "flow": [
        {
            "id": 12,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3410950,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "My gateway-webhook webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 9227252
            },
            "mapper": {
                "from": "drive",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{12.vaga_confirmada}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "G",
                            "b": "{{12.zona}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Página1",
                "sortOrder": "asc",
                "spreadsheetId": "1AX2MlVtQSQ5DABW5gezOgcOfvnoHHeGct6dRMt-SFYo",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": false,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "edit",
                            "rpcSearch": {
                                "label": "Mapa_Patio",
                                "value": "1AX2MlVtQSQ5DABW5gezOgcOfvnoHHeGct6dRMt-SFYo"
                            }
                        },
                        "tableFirstRow": {
                            "label": "A-Z"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "No"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "any",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=false"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "A"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "B"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "C"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "D"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "E"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "F"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "G"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "H"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "I"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "J"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "K"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "L"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "M"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "N"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "O"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "P"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Q"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "R"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "S"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "T"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "U"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "V"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "W"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "X"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Y"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "Z"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicIfElse",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300
                }
            },
            "branches": [
                {
                    "merge": false,
                    "label": "",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9097443
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "IMO": "{{12.IMO}}",
                                    "Zona": "{{12.zona}}",
                                    "Status": "{{12.status}}",
                                    "Peso_ton": "{{12.peso_ton}}",
                                    "Data_Hora": "{{12.data_hora_chegada}}",
                                    "Posicao_ID": "{{12.vaga_confirmada}}",
                                    "ID_Container": "{{12.id_conteiner}}",
                                    "Justificativa": "{{12.justificativa}}",
                                    "Saida_hora_Prevista": "{{12.data_saida_prevista}}"
                                },
                                "sheetId": "Página1",
                                "rowNumber": "{{3.`__ROW_NUMBER__`}}",
                                "spreadsheetId": "1AX2MlVtQSQ5DABW5gezOgcOfvnoHHeGct6dRMt-SFYo",
                                "includesHeaders": true,
                                "useColumnHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Página1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (edutest377@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "Posicao_ID",
                                                "type": "text",
                                                "label": "Posicao_ID (A)"
                                            },
                                            {
                                                "name": "Status",
                                                "type": "text",
                                                "label": "Status (B)"
                                            },
                                            {
                                                "name": "ID_Container",
                                                "type": "text",
                                                "label": "ID_Container (C)"
                                            },
                                            {
                                                "name": "Peso_ton",
                                                "type": "text",
                                                "label": "Peso_ton (D)"
                                            },
                                            {
                                                "name": "Data_Hora",
                                                "type": "text",
                                                "label": "Data_Hora (E)"
                                            },
                                            {
                                                "name": "Saida_hora_Prevista",
                                                "type": "text",
                                                "label": "Saida_hora_Prevista (F)"
                                            },
                                            {
                                                "name": "Zona",
                                                "type": "text",
                                                "label": "Zona (G)"
                                            },
                                            {
                                                "name": "IMO",
                                                "type": "text",
                                                "label": "IMO (H)"
                                            },
                                            {
                                                "name": "Justificativa",
                                                "type": "text",
                                                "label": "Justificativa (I)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Posicao_ID",
                                                    "Status",
                                                    "ID_Container",
                                                    "Peso_ton",
                                                    "Data_Hora",
                                                    "Saida_hora_Prevista",
                                                    "Zona",
                                                    "IMO",
                                                    "Justificativa"
                                                ]
                                            ]
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9097506
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "Ação": "{{12.status}}",
                                    "Log_ID": "{{var.scenario.executionId}}",
                                    "Data_hora": "{{12.data_hora_chegada}}",
                                    "ID_Conteiner": "{{12.id_conteiner}}",
                                    "Posicao_Destino": "{{12.vaga_confirmada}}",
                                    "Observação Física": "{{12.justificativa}}"
                                },
                                "sheetId": "Página1",
                                "spreadsheetId": "1JgTZGj_9GDDMn5DL59GTh3D4hxod50JExYubB2gn2YQ",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": true,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Página1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (edutest377@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "Log_ID",
                                                "type": "text",
                                                "label": "Log_ID (A)"
                                            },
                                            {
                                                "name": "Data_hora",
                                                "type": "text",
                                                "label": "Data_hora (B)"
                                            },
                                            {
                                                "name": "ID_Conteiner",
                                                "type": "text",
                                                "label": "ID_Conteiner (C)"
                                            },
                                            {
                                                "name": "Posicao_Destino",
                                                "type": "text",
                                                "label": "Posicao_Destino (D)"
                                            },
                                            {
                                                "name": "Ação",
                                                "type": "text",
                                                "label": "Ação (E)"
                                            },
                                            {
                                                "name": "Observação Física",
                                                "type": "text",
                                                "label": "Observação Física (F)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Log_ID",
                                                    "Data_hora",
                                                    "ID_Conteiner",
                                                    "Posicao_Destino",
                                                    "Ação",
                                                    "Observação Física"
                                                ]
                                            ]
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{`12`}}",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Access-Control-Allow-Origin",
                                        "value": "*"
                                    },
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{3.`__ROW_NUMBER__`}}",
                                "o": "exist"
                            },
                            {
                                "a": "{{3.`1`}}",
                                "b": "Livre",
                                "o": "text:equal"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "label": "",
                    "type": "condition",
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9097449
                            },
                            "mapper": {
                                "mode": "fromAll",
                                "values": {
                                    "Ação": "{{12.status}}",
                                    "Log_ID": "{{var.scenario.executionId}}",
                                    "Data_hora": "{{12.data_hora_chegada}}",
                                    "ID_Conteiner": "{{12.id_conteiner}}",
                                    "Posicao_Destino": "{{12.vaga_confirmada}}",
                                    "Observação Física": "{{12.justificativa}}"
                                },
                                "sheetId": "Página1",
                                "spreadsheetId": "1uiFxmC3opqFBwsbVtqouCJXSvqaxyhlSDDCnl7wIzhY",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": true,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select from all"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Página1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "Yes"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (edutest377@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "Log_ID",
                                                "type": "text",
                                                "label": "Log_ID (A)"
                                            },
                                            {
                                                "name": "Data_hora",
                                                "type": "text",
                                                "label": "Data_hora (B)"
                                            },
                                            {
                                                "name": "ID_Conteiner",
                                                "type": "text",
                                                "label": "ID_Conteiner (C)"
                                            },
                                            {
                                                "name": "Posicao_Destino",
                                                "type": "text",
                                                "label": "Posicao_Destino (D)"
                                            },
                                            {
                                                "name": "Ação",
                                                "type": "text",
                                                "label": "Ação (E)"
                                            },
                                            {
                                                "name": "Observação Física",
                                                "type": "text",
                                                "label": "Observação Física (F)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Log_ID",
                                                    "Data_hora",
                                                    "ID_Conteiner",
                                                    "Posicao_Destino",
                                                    "Ação",
                                                    "Observação Física"
                                                ]
                                            ]
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{{`12`}}",
                                "status": "400",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ],
                    "conditions": [
                        [
                            {
                                "a": "{{3.`__ROW_NUMBER__`}}",
                                "o": "notexist"
                            },
                            {
                                "a": "{{3.`1`}}",
                                "b": "Livre",
                                "o": "text:notequal"
                            }
                        ]
                    ]
                },
                {
                    "merge": false,
                    "disabled": false,
                    "label": "",
                    "type": "else",
                    "flow": [
                        {
                            "id": 10,
                            "module": "placeholder:Placeholder",
                            "filter": null,
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}